@import "antd/dist/antd.css";

.h100 {
    height: calc(100vh - 64px);
}
.h50 {
    position: absolute;
    top: 200px;
    margin: 0 auto;
    width: 100%;
}

.form {
    background: rgb(195, 235, 253);
    padding: 20px 20px;
    box-shadow: 1px 1px 5px 1px rgb(191, 202, 207);
}
